LIB		:= lib
RESDIR		:= /etc/X11
HAVE_ENDIAN_H	:= yes
HAVE_LINUX_FB_H	:= yes
HAVE_NEW_EXIF	:= yes
HAVE_GLIBC	:= yes
HAVE_STRCASESTR	:= yes
HAVE_LIBPCD	:= no
HAVE_LIBUNGIF	:= yes
HAVE_LIBPNG	:= yes
HAVE_LIBTIFF	:= yes
#HAVE_LIBMAGICK	:= no
HAVE_LIBSANE	:= no
# Forcefully disable cURL
HAVE_LIBCURL	:= no
HAVE_LIBLIRC	:= no
HAVE_MOTIF	:= no
