[Unit]
Description=Auth Unit Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/ruby  /home/pi/signaged/bin/auth_unit.rb

[Install]
WantedBy=multi-user.target
